html, body, main, section {
    height: 100%;
} main {
    display: -webkit-box;
    width: 100%;
    color: rgb(207, 185, 191);
} body, p {
    margin: 0;
} body {
    overflow: hidden;
   user-select: none;
} svg {
    overflow: visible
} .list {
    text-align: center;
    font-family: Raleway;
    width: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(119, 59, 76)
} .list::-webkit-scrollbar {
    width: 0.9rem
} .list::-webkit-scrollbar-thumb {
    background: rgb(152, 88, 106);
    border: 0.2rem solid rgb(119, 59, 76)
} .list > p {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    font-weight: bold;
} .list > div {
    filter: drop-shadow(2px 4px 6px rgb(0,0,0,0.3))
} .space {
    overflow: auto;
    position: relative;
    width: calc(100% - 250px);
    background: rgb(75, 37, 48)
} .space::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;
} .space::-webkit-scrollbar-thumb {
    background: rgb(160, 112, 125);
    border: 0.15rem solid rgb(75, 37, 48)
} .space::-webkit-scrollbar-corner {
    background: rgb(75, 37, 48)
} .message {
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    position: absolute;
    height: min-content;
    font-family: Rubik;
    font-size: 1rem;
    opacity: 1;
    z-index: 3;
    bottom: 0px;
    background: rgb(39, 18, 25);
    transition: opacity 0.3s ease
} .items {
    background: linear-gradient(rgb(207 185 191), rgb(198 153 165))
} .items, .pdiv {
    color: white;
    cursor: pointer;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Quicksand;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(1) contrast(1);
    transition: filter 0.3s ease
} .origem {
    width: 35.5px;
    height: 35.5px;
} .destino {
    width: 40px;
    height: 40px;
    border-radius: 50%
} .list div {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem
}

/* Portas */
.pdiv {
    cursor: pointer;
    margin: 0px auto;
    height: 100px;
    background: linear-gradient(rgb(190 145 160), rgb(159 112 125));
} .pdiv {
    font-size: 1rem
} .and {
    clip-path: polygon(var(--and));
    width: 100px;
} .or {
    clip-path: polygon(var(--or));
    width: 120px;
} .xor {
    clip-path: polygon(var(--xor));
    width: 140px;
} .nand {
    clip-path: polygon(var(--nand));
    width: 114px;
} .nor {
    clip-path: polygon(var(--nor));
    width: 134px;
} .xnor {
    clip-path: polygon(var(--xnor));
    width: 154px;
} .not {
    clip-path: polygon(var(--not));
    width: 104px;
    height: 70px;
}

.and p {
    margin-right: 6px
} .or p {
    margin-left: 4px
} .xor p {
    margin-left: 22px
} .nand p {
    margin-right: 16px
} .nor p {
    margin-right: 10px
} .xnor p {
    margin-left: 14px
} .not p {
    margin-right: 34px
}
